<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Skype_Message_Sync.Properties.Settings.AzureConnectionString"
            connectionString="DefaultEndpointsProtocol=https;AccountName=skypemessagesync;AccountKey=" />
    </connectionStrings>
</configuration>